.brown {
    -fx-background-color: #d18b47;
}

.cream {
    -fx-background-color: #ffce9e;
}

.selected {
    -fx-border-color: blue;
    -fx-border-width: 5px;
}

.hovered {
    -fx-background-color: red;
}
